
.sidebar{
    height: calc(100% - 55px);
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 55px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 6px, 8px, 6px, 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

#management-container{
    height: 100vh;
    margin-left: 150px;
    padding: 0px, 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.form-container{
    
    width: 60%;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    background-color: aliceblue;
    border: solid 1px green;
    overflow: hidden;
}

#topic-name, #rename-topic, #topic-to-delete, #topic-to-choose, #subtopic-to-choose{
    -webkit-appearance: menulist; /* Safari and Chrome */
    -moz-appearance: menulist; /* Firefox */
    appearance: menulist;
}

#topic-for-renamed-subtopic, #choose-subtopic-to-rename{
    -webkit-appearance: menulist; /* Safari and Chrome */
    -moz-appearance: menulist; /* Firefox */
    appearance: menulist;
}

