{% extends "learners/base.html" %}

{% block body %}

    
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <h1 class="title">Surgical Self Assessment</h1>

    <div class="login-container">

        
        <h5>Please Login:</h5>

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control pass-word" type="password" name="password" placeholder="Password">
            </div><br>
            <input class="btn btn-primary mx-auto d-block" type="submit" value="Login">
        </form>

        <span class="register-span">Or <a href="{% url 'register' %}">Register</a> for an account</span>
    </div>

{% endblock %}