{% extends "learners/profile_base.html" %}

{% block body %}

    <div class="profile-container">
        <div class="error-msg">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <h3>Edit Your Profile</h3>

        <div id="profile-form-container">
            <form action="{% url 'edit_profile' %}" method="post">
                {% csrf_token %}               
                {{ profile_form.first_name.as_p}}
                {{ profile_form.last_name.as_p}}
                {{ profile_form.preferred_name.as_p}}
                {{ profile_form.current_email.as_p}}

                <div>
                    {{ profile_form.new_email }}
                    {% for error in profile_form.new_email.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                {{ profile_form.residency_program.as_p }}
                {{ profile_form.pg_level.as_p }}

                <div>
                    {{ profile_form.cell_phone }}
                    {% for error in profile_form.cell_phone.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <div>
                    <button class="btn btn-primary me-5" type="submit">Save Changes</button>
                    <a type="button" class="btn btn-warning ms-5" href="{% url 'dashboard' %}">Cancel</a>
                </div>
            </form>
        </div>
       
    </div>

{% endblock %}