{% extends "learners/base.html" %}

{% block body %}

    

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <h1 class="title">Surgical Self Assessment</h1>

    <div class="register-container">
        <div class="error-msg">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <h5>Register for an Account</h5>

        <div class="form-container" id="form-container">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" autofocus type="text" name="username" placeholder="Username"
                    value="{{ username }}">
                </div>
                <div class="form-group">
                    <input class="form-control e-mail" type="email" name="email" placeholder="Email Address"
                    value="{{ email }}">
                </div>
                <div class="form-group">
                    <input class="form-control pass-word" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control confirm-password" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <input class="btn btn-primary mx-auto d-block" type="submit" value="Register">
            </form>
        </div>
        
    </div>

{% endblock %}