{% extends "management/layout.html" %}

{% block body %}   
    
    <div class="form-container" id="add-question-and-choices-container">

        <div id="add-question-and-choices-msg" class="msg-div">
            
        </div>
       
        <div class="error-msg">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <h2>Add Question and Answer Choices</h2><br>

        <form id="add-question-and-choices-form" data-fetch="true" method="post" action="{% url 'add_question_and_choices' %}">
            {% csrf_token %}
            {{ add_question_form.as_p }}

            <button class="btn btn-primary" id="test-question-btn" type="submit" >
                Add Question
            </button>

            <!--
            <div id="add-choices-container">
                {% for add_choice_form in add_choice_forms %}
                    <div class="choice-form" id="add-choice-{{ forloop.counter }}">
                        <div class="add-choice-fields">
                            {{ add_choice_form.text.label_tag }}
                            {{ add_choice_form.text }}
                            {{ add_choice_form.is_correct.label_tag }}
                            {{ add_choice_form.is_correct }}
                        </div>
                    </div>                
                {% endfor %}
            </div>

            <button class="btn btn-primary" id="another-choice-btn" type="submit" >
                Add Another Choice
            </button>

            <button class="btn btn-primary" id="add-question-and-choices-btn" type="submit" >
                Submit Question and Choices
            </button>
            -->
        </form>
    </div>
   
{% endblock %}