{% extends "management/layout.html" %}

{% block body %}
    
    <div class="form-container" id="add-topic-container">
        <div id="add-topic-msg" class="msg-div">
            
        </div>

        <form id="add-topic-form" data-fetch="true" method="post" action="{% url 'add_topic' %}">
            {% csrf_token %}
            {{ add_topic_form.as_p }}

            <input class="btn btn-primary" id="add-topic-btn" type="submit" value="Add Topic">
        </form>
    </div>

   
{% endblock %}