{% extends "management/layout.html" %}

{% block body %}

    
    
    <div class="form-container" id="delete-topic-container">
       
        <div class="error-msg">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <form id="delete-topic-form" data-fetch="true" method="post" action="#">
            {% csrf_token %}
            {{ delete_topic_form.as_p }}

            <input class="btn btn-danger" id="delete-topic-btn" type="submit" 
                data-topic-id = "" value="Delete Topic">
        </form>
    </div>

   
{% endblock %}