{% extends "management/layout.html" %}

{% block body %}   
    
    <div class="form-container" id="edit-all-questions-and-choices-container">

        <div id="edit-all-questions-and-choices-msg" class="msg-div">
            
        </div>
       
        <div class="error-msg">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <h2>Edit Question and Answer Choices</h2><br>

        
            <form id="edit-all-questions-and-choices-form"  method="post" 
                    action="{% url 'edit_all_questions_and_choices' %}">
                {% csrf_token %}
                <input type="hidden" id="question-id" name="question-id" value="{{ page_obj.object_list.0.id }}">
                <input type="hidden" id="subtopic-id" name="subtopic-id" value="{{ subtopic.id }}">
                <input type="hidden" id="question-type-id" name="question-type-id" value="">
                <div id="edit-question-container">
                    <div class="edit-question-and-choice-fields">   
                        
                        <div class="form-group">
                            {{ edit_question_text_form.topic.label_tag }}
                            {{ edit_question_text_form.topic }}
                        </div>
                        <div class="form-group">
                            {{ edit_question_text_form.subtopic.label_tag }}
                            {{ edit_question_text_form.subtopic }}
                        </div>
                        <div class="form-group">
                            {{ edit_question_text_form.question_type.label_tag }}
                            {{ edit_question_text_form.question_type }}
                        </div>
                                        
                    </div>
                    
                    <div class="form-group" id="edit-question-and-choice-text">
                        {{ edit_question_text_form.text.label_tag }}
                        {{ edit_question_text_form.text }}
                    </div>
                
                </div>

                <div id="edit-choices-container">
                    {% for edit_choice_form in edit_choice_forms %}
                        <div class="choice-form" id="edit-choice-{{ forloop.counter }}">
                            <input type="hidden" id="choice-id-{{ forloop.counter }}" 
                                name="choice-id-{{ forloop.counter }}" value="{{ edit_choice_form.instance.id }}">
                            <div class="edit-choice-fields">
                                {{ edit_choice_form.text.label_tag }}
                                {{ edit_choice_form.text }}
                                {{ edit_choice_form.is_correct.label_tag }}
                                {{ edit_choice_form.is_correct }}
                            </div>
                        </div>                
                    {% endfor %}
                </div>

                <div class="btn-group" role="group">
                    <button class="btn btn-secondary" id="add-choice-btn-edit" type="button" >
                        Add Another Choice
                    </button>
                    
                    <button class="btn btn-primary" id="edit-all-questions-and-choices-btn" type="submit" >
                        Submit Your Changes
                    </button>
                </div>


            </form>
        

        <!-- Bootstrap Pagination (adapted from the bootstrap website)-->

        {% include "management/pagination.html" %}

        


    </div>

{% endblock %}