{% extends "management/layout.html" %}

{% block body %}

    <div class="form-container" id="get-all-questions-container">

        <div id="get-all-questions-msg" class="msg-div">
            
        </div>
       
        <div class="error-msg">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <h2>Review/Edit/Delete all questions for topic/subtopic</h2><br>

        <form id="get-all-questions-form"  method="get" action="{% url 'edit_all_questions_and_choices' %}">
            {% csrf_token %}
            {{ get_all_questions_form.as_p }}

                        
            <button class="btn btn-primary" id="get-edit-all-questions-btn" type="submit" >
                Review/Edit/Delete All Questions
            </button>
           
        </form>


    </div>

{% endblock %}