{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Surgical Self Assessment{% endblock %}</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
            crossorigin="anonymous">
        
        
        <link href="{% static 'management/styles.css' %}" rel="stylesheet">
                 
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Surgery</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                        href="#" id="navbardrop-topic" data-bs-toggle="dropdown">Topics
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="dropdown-add-topic" href="{% url 'add_topic' %}">Add Topic</a>
                        <a class="dropdown-item" id="dropdown-edit-topic" href="#">Edit Topic</a>
                        <a class="dropdown-item" id="dropdown-delete-topic" href="#">Delete Topic</a>   
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                        href="#" id="navbardrop-subtopic" data-bs-toggle="dropdown">Subtopics
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="dropdown-add-subtopic" href="{% url 'add_subtopic' %}">Add Subtopic</a>
                        <a class="dropdown-item" id="dropdown-edit-subtopic" href="#">Edit Subtopic</a>
                        <a class="dropdown-item" id="dropdown-delete-subtopic" href="#">Delete Subtopic</a>   
                    </div>
                </li>
                    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                        href="#" id="navbardrop-question" data-bs-toggle="dropdown">Questions
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="dropdown-add-question" href="#">Add Question</a>
                        <a class="dropdown-item" id="dropdown-edit-question" href="#">Edit Question</a>
                        <a class="dropdown-item" id="dropdown-delete-question" href="#">Delete Question</a>   
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                        href="#" id="navbardrop-choice" data-bs-toggle="dropdown">Choices
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="dropdown-add-choice" href="#">Add Choice</a>
                        <a class="dropdown-item" id="dropdown-edit-choice" href="#">Edit Choice</a>
                        <a class="dropdown-item" id="dropdown-delete-choice"href="#">Delete Choice</a>   
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                
              </ul>
            </div>
          </nav>
        
        <div class="body" id="management-container">
            {% block body %}
            {% endblock %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" 
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" 
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" 
            crossorigin="anonymous"></script>
        <script src="{% static 'management/script.js' %}"></script>  
        
    </body>
</html>
