body{
    background-color: rgb(237, 234, 222);
}
.title{
    text-align: center;
}

.login-container{
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

h5{
    margin-bottom: 15px;
}

.pass-word{
    margin-top: 10px;
}

a{
    text-decoration: none;
}

.register-span{
    margin-top: 10px;
}

.register-container{
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: 1px solid green;
    padding: 15px;
}

.form-container {
    width: 100%; /* Ensure the form takes the full width of the container */
}

.form-group input {
    width: 100%; /* Make input fields take the full width of their container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 10px; /* Add some padding for better appearance */
    margin-bottom: 15px; /* Add margin at the bottom for spacing */
}


