
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Self Assessment Dashboard{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
            crossorigin="anonymous">

        <link rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
               
        <link href="{% static 'quizes/styles.css' %}" rel="stylesheet">
                 
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" id="brand"  href="#">Student Dashboard</a>
            <button 
                class="navbar-toggler ms-auto" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarContent" 
                aria-controls="navbarContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse"  id="navbarContent">
                <ul class="navbar-nav ms-auto">                    
                    <li class="nav-item dropdown">
                        <a 
                            class="nav-link dropdown-toggle text-end" 
                            href="#" 
                            id="user-dropdown" 
                            role="button" 
                            data-bs-toggle="dropdown" 
                            aria-expanded="false"
                        >
                            <i class="fa fa-solid fa-user" id="user-icon"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end text-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a></li>
                            {% if request.user.is_superuser or request.user.is_staff %}
                                <li><a class="dropdown-item" href="{% url 'management_portal' %}">Manage Database</a></li>
                            {% endif %}
                            
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-end" id="logout-link"  href="{% url 'logout' %}">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav> 

        <div class="container-fluid vh-100 d-flex flex-column align-items-center">
            <div class="body" id="dashboard-container"> 
            
                <div id="dashboard-msg" class="msg-div"></div>

                <h2 class="text-center fs-2 fs-md-3 my-3">{{ request.user}}'s Dashboard</h2>
                <p class="text-center fs-5 fs-md-6 mb-4" id="choose-assessment">Choose your assessment from the available topics:</p>

                <!-- Bootstrap Grid-->
                <div class="container">
                
                    <!-- topic list-->
                    <div class="row">
                        {% for topic in topics %}
                        
                            <div class="col-md-12 col-sm-12 topics-list topics" id="topic-{{ topic.id }}" 
                                    data-topic-id="{{ topic.id }}">
                                    <span>
                                        <i class="fa fa-regular fa-plus" id="plus-{{ topic.id }}"></i>
                                        <i class="fa fa-regular fa-minus" id="minus-{{ topic.id }}" 
                                                style="display: none;"></i>
                                    </span>
                                <span>{{ topic.name }}</span>                                    
                            </div>
                          
                            <!-- subtopics list-->
                            <div class="subtopics-list" id="subtopicscontainer-{{ topic.id }}">
                        
                            </div>
                        
                        {% endfor %} 
                    </div>                      
                     
                </div>

                <!-- 
                <div class="modal" id="confirm-retake-quiz-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">
                                    Retake Self-Assessment
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="close">                                
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>You can retake this Self-Assessment as many times as you like.
                                    If you continue, your last attempt will be deleted. Your initial
                                    score will still be kept.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel
                                </button>
                                <button type="button" class="btn btn-danger" id="confirm-retake-quiz-button">
                                    Retake
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
        </script>
        <script src="{% static 'quizes/script.js' %}"></script>
         
    </body>
</html>




