
{% block body %}
    <div class="quiz-wrapper">
            
        <form class="quiz-form" id="quiz"  method="post">
            {% csrf_token %}
            <input type="hidden" id="quizsubtopic-id" name="quizsubtopic-id" value="">
            
            <h2>Question {{ page_obj.number}} of {{ page_obj.paginator.num_pages }}</h2><br>

            {% for question in page_obj %}
                <div class="quiz-question">
                    <p>{{ question.text}}</p>

                    {% for choice in question.choices.all %}
                        <div class="choice-container">
                            {% if question.question_type.name == 'True/False' or question.question_type.name == 'Multiple Choice' %}
                                <input type="radio" name="question-{{ question.id }}"
                                        id="choice-{{ choice.id }}" value="{{ choice.id }}">
                                <label for="choice-{{ choice.id }}">{{ choice.text }}</label>
                            {% elif question.question_type.name == 'Multiple Answer' %}
                                <input type="checkbox" name="question-{{ question.id }}"
                                    id="choice-{{ choice.id }}" value="{{ choice.id }}">
                                <label for="choice-{{ choice.id }}">{{ choice.text }}</label>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>        

            {% endfor %}

            <button class="btn btn-primary" id="submit-quiz-question" type="submit">
                Submit
            </button>
        </form>

        <!-- Bootstrap Pagination (from the bootstrap website)-->
        <div class="pagination-container">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number}}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number}} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number}}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages}}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>

    </div>
       
{% endblock %}
        

       