/* CSS for the quiz page */

body, html {
    overflow: hidden; /* Prevent scrolling on the body */
    height: 100%; /* Ensure the body and html elements take up the full viewport height */
}

#title-container{
    text-align: center;
    background-color: goldenrod;
    height: 40px;
}



#progress-container{
    height: calc(100% - 95px);
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 95px;
    left: 0;
    background-color: blue;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
}

#progress-container a {
    display: flex; /* Use flexbox to align icon and text */
    align-items: center; /* Center icon and text vertically */
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    font-size: 18px;
    color:whitesmoke;
    
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

#progress-container a i{
    margin-right: 8px;
}

.fa-circle{
    font: 16px;
    color: whitesmoke;
}

.fa-times{
    display: none;
    color: red;
}

.fa-check{
    display: none;
    color: green;
}

#quiz-page-container{
    display: flex;
    margin-left: 160px;
    flex-direction: column;
    height: calc(100vh - 95px); /* Prevent overlap with navbar/title */
    overflow: auto; /* Ensure it scrolls if the content overflows */
    padding: 10px; /* Optional padding */
}

#quiz-container{
    padding: 10px;
    flex-grow: 1; /* Allow quiz content to take up most of the space */     
    margin-bottom: none;  /* Add space between quiz and explanation */
    
}

.quiz-wrapper{
    margin: 20px auto; /* Center the content with some margin */
    padding: 20px; /* Add some padding inside the container */
    background-color: #f9f9f9; /* Set a light background color */
    max-width: 800px;
    border: 1px solid #ddd; /* Optional border */
    border-radius: 8px; /* Rounded corners */
}

#quiz-score-container{
    display: none;
}


#explanation-container {
    flex-shrink: 0; /* Ensure explanation is visible */
    padding: 10px;
    background-color: #fff;
    /*border-top: 1px solid #ddd;*/
    margin-bottom: 10px; /* Optional space for future references */
}

.explanation-wrapper{
    margin: 20px auto; /* Center the content with some margin */
    padding: 20px; /* Add some padding inside the container */
    background-color: #f9f9f9; /* Set a light background color */
    max-width: 800px; 
    border: 1px solid #ddd;
    border-radius: 8px;   
}

.quiz-question p{
    font-size: 20px;
}

.choice-container{
    margin-bottom: 10px;
    padding-left: 30px;
}

.choice-container input[type="radio"] {
    transform: scale(1.5); /* Increase the scale value to make the radio button larger */
    margin-right: 10px; 
}

.choice-container input[type="checkbox"] {
    transform: scale(1.5); /* Increase the scale value to make the radio button larger */
    margin-right: 10px; 
}

.choice-container label{
    display: inline-block;
    font-size: 20px;
}

#submit-quiz-question{
    margin-top: 30px;
}

#pagination-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* 3 columns: left button, center text, right button */
    align-items: center; 
    width: 100%; 
}

#pagination-container h2 {
    text-align: center; 
    margin: 0; 
}

#previous-button {
    justify-self: start; /* Align the previous button to the left */
}

#next-button {
    justify-self: end; /* Align the next button to the right */
}

.hidden {
    visibility: hidden; /* Hide the element but keep its space */
}

#pagination-container-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns: left button, right button */
    align-items: center; 
    width: 100%; 

}

#previous-button-bottom {
    justify-self: start; /* Align the previous button to the left */
}

#next-button-bottom {
    justify-self: end; /* Align the next button to the right */
}

#view-quiz-results{
    display: none;
}

