body, html {
    overflow: hidden; /* Prevent scrolling on the body */
    height: 100%; /* Ensure the body and html elements take up the full viewport height */
}

#dashboard-container{
    height: calc(100vh - 55px); 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;  
    border: solid 1px green; 
}

#title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#choose-assessment{
    text-indent: 30px;
}

.column-header{
    background-color: #FFD700;
    height: 40px;
    align-items: center;
}

.score-header, .review-header{
    text-align: center;
}

.topics-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: larger;
    height: 50px;
    background-color: #F5F5F5;
    border: solid 1px darkgray;
    cursor: pointer;
    padding-left: 5px;    
}

.topics-list span{
    margin-left: 10px;
    line-height: normal;
}

.topics-list:hover{
    background-color: lightgray;
}

.subtopics-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    height: 50px;
    background-color: #FFFFF0;
    border-bottom: solid 1px lightgray;
    padding-left: 5px;
}

.subtopics-row .status-column,
.subtopics-row .progress-column,
.subtopics-row .score-column{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.subtopics-row .review-column{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.review-column {
    gap: 20px; /* This will add 20px space between the review and reset buttons */
    
}

.questions-text span{
    display: block;
    font-size: small;
}

#questions-progress{
    font-size: medium;
}

.score-dash{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.score-dash i {
    width: 45%;
    text-align: left; 
    margin-right: 60px;
    padding-left: 5px;
    
}

.score-dash i:last-child {
    margin-right: 0;  /* Remove margin for the last icon */
}

.minus-bigger{
    font-size: 24px;
    transform: scaleX(1.4);
    color: blue;
}

.score-text{
    font-size: small;
}

.score-label{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.score-label span {
    width: 45%;
    text-align: left; 
    margin-right: 60px; 
}

.score-results{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: medium;
}

.score-results span{
    width: 45%;
    text-align: left; 
    margin-right: 60px;   
}

.score-results span:last-child {
    margin-right: 0;  /* Remove margin for the last span */
}

.score-label span:last-child {
    margin-right: 0;  /* Remove margin for the last span */
}

